body {
position: absolute;
color:black;
font-family: 'Kanit', sans-serif;
font-weight: 300;
font-style: normal;
text-align: left;
}

/* Header */
#headerlogo {
  position: fixed;
  width: 3vw;
  left: 4vw;
  top: 5vh;
  z-index: 100;
  cursor: default;
}
#headername {
  position: fixed;
  text-align: left;
  width: 10vw;
  left: 8vw;
  top: 5vh;
  font-weight: 300;
  font-size: 20px;
  z-index: 100;
  cursor: default;
}

/* Websites */
#header1 {
  position: fixed;
  text-align: right;
  width: 6vw;
  right: 21vw;
  top: 5vh;
  font-weight: 300;
  font-size: 20px;
  z-index: 100;
  cursor:pointer;
  color:black;
  /* background-color: red; */
}
#header2 {
  position: fixed;
  text-align: right;
  width: 6vw;
  right: 13vw;
  top: 5vh;
  font-weight: 300;
  font-size: 20px;
  z-index: 100;
  cursor:pointer;
  color:black;
}
#header3 {
  position: fixed;
  text-align: right;
  width: 6vw;
  right: 5vw;
  top: 5vh;
  font-weight: 600;
  font-size: 20px;
  z-index: 100;
  cursor: default;
  color:black;
}

/* Contact and Other */
#contact {
  position: fixed;
  text-align: right;
  width: 40vw;
  right: 5vw;
  bottom: 5vh;
  font-size: 18px;
  z-index: 100;
  cursor: default;
}
#contact1 {
  color:black;
}
#contact2 {
  color:black;
}
#contact3 {
  color:black;
}
#other {
  position: fixed;
  text-align: left;
  width: 20vw;
  left: 5vw;
  bottom: 5vh;
  font-size: 20px;
  z-index: 100;
  cursor: e-resize;
}
#space {
  position: absolute;
  width: 5vw;
  height:12vh;
  left: 225vw;
  top: 23vh;
  z-index: -1000;
  cursor: default;
}

/* Title and Hover */
#title {
  position: fixed;
  text-align: left;
  width: 20vw;
  left: 5vw;
  top: 44vh;
  height: 12vh;
  font-weight: 600;
  font-size: 70px;
  z-index: 100;
  cursor: default;
}
#titledescription {
  position: fixed;
  text-align: left;
  width: 25vw;
  left: 5vw;
  top: 56vh;
  font-weight: 200;
  font-size: 16px;
  z-index: 100;
  cursor: default;
}
.rectangle{
  position: fixed;
  background-color: white;
  height:100vh;
  top: 0vh;
  left: 0vw;
  width: 40vw;
  opacity: 1;
  z-index: -10;
}

/* Interaction */

#website1 {
  position: absolute;
  width: 55vw;
  left: 40vw;
  top: 33.5vh;
  font-weight: 200;
  font-size: 20px;
  cursor:pointer;
  z-index: -11;
  cursor: default;
  line-height: 2;
  height: 33vh;
  /* background-color: red; */
}
#name1 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  color:black;
}
#description1 {
  cursor: e-resize;
}

#website2 {
  position: absolute;
  width: 55vw;
  left: 105vw;
  top: 35.5vh;
  font-weight: 200;
  font-size: 20px;
  cursor:pointer;
  z-index: -11;
  cursor: default;
  line-height: 2;
  height: 29vh;
  /* background-color: red; */
}
#name2 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
  color:black;
}
#description2 {
  cursor: e-resize;
}

#website3 {
  position: absolute;
  width: 55vw;
  left: 170vw;
  top: 37.5vh;
  font-weight: 200;
  font-size: 20px;
  cursor:pointer;
  z-index: -11;
  cursor: default;
  line-height: 2;
  height: 25vh;
  /* background-color: red; */
}
#name3 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  color:black;
}
#description3 {
  cursor: e-resize;
}

#website4 {
  position: absolute;
  width: 55vw;
  left: 235vw;
  top: 25vh;
  font-weight: 200;
  font-size: 20px;
  cursor:pointer;
  z-index: -11;
  cursor: default;
  line-height: 2;
  height: 50vh;
  /* background-color: red; */
}
#name4 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  color:black;
}
#description4 {
  cursor: e-resize;
}

#preview1 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 13vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview2 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 52.5vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview3 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 13vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview4 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 52.5vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview5 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 13vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview6 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 52.5vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview7 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 13vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
#preview8 {
  position: fixed;
  width: 30vw;
  left: 5vw;
  top: 52.5vh;
  cursor: pointer;
  z-index: 100;
  cursor: default;
  height:34.5vh;
  display: none;
}
